* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SpotifyMixUI, 'Segoe UI', Tahoma, Verdana, sans-serif;

}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 8px;
    background-color: black;
    margin-bottom: 5px;
    z-index: 100;

}

.left {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
}



.right {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
}

.spotify-logo {
    width: 32px;
    height: auto;
    margin-left: 20px;
}

.home-button {
    background-color: rgb(36, 35, 35);
    border: none;
    padding: 12px;
    border-radius: 50%;
    margin-left: 28px;
    margin-right: 8px;
    cursor: pointer;
}

.home-button:hover {
    background-color: rgb(68, 67, 67);
}

.search-bar {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 10px 14px;
    border-radius: 9999px;
    background-color: #1f1f1f;
    transition: box-shadow 0.25s;
}

.search-bar:focus-within {
    box-shadow: 0 0 8px rgba(235, 234, 234, 0.75)
}

.search-input {
    font-size: 16px;
    color: white;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 380px;
}

.search-input::placeholder {
    font-weight: 600;
    color: #a2a1a1;
}

.search-icon {

    border: none;
    border-radius: 50%;
    background: transparent;
}

.browser {
    border: 0;
    border-left: 1px solid #8d8d8d;
    background: transparent;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.premium {
    background-color: rgb(255, 255, 253);
    font-weight: bold;
    margin-left: 20px;
    color: black;
    width: 143.2;
    height: 32px;
    padding: 4px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.install-button {
    display: flex;
    align-items: center;
    color: rgb(206, 205, 205);
    padding: 10px 20px;
    gap: 8px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    vertical-align: center;

}

.bx-down-arrow-circle {
    margin-right: 7px;
    font-size: 18px;

}

.bell-icon {
    color: rgb(206, 205, 205);
    font-size: 22px;
    text-decoration: none;
    vertical-align: center;

}

.bx-group {
    color: rgb(206, 205, 205);
    font-size: 22px;
    text-decoration: none;
    vertical-align: center;

}

.profile-button {
    background-color: rgb(25, 230, 140);
    border: 6px solid rgb(48, 48, 48);
    color: #1f1f1f;
    font-weight: bold;
    font-weight: 700;
    padding: 7px 11px;
    border-radius: 50%;
    cursor: pointer;
}


.right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.explore-install {
    display: flex;
    gap: 0px;
    align-items: center;
    margin-right: 3px;
}

/* ---------------------Main Content Starts-------------------- */

.main-content {
    display: grid;
    grid-template-columns: 22.5% 54% 22.5%;
    gap: 1px;
    background-color: black;
    align-items: start;
    width: 100%;
    height: auto;
}



.preview-section1,
.main-area,
.your-library {
    background-color: #121212;
    border-radius: 10px;
    color: white;
    margin-left: 8px;
    margin-top: 65px;


}



/* ----------------(1rd line)-------------------- */

.your-library {
    position: sticky;
    top: 4rem;
    height: 89vh;
    bottom: 0;
}

.library-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 18px;

}

.text-library {
    margin-top: 12px;
    margin-left: 18px;
    font-weight: 600;
    font-size: 14px;

}

.library-icons {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    margin-right: 18px;
    gap: 5px;

}

.pulse {
    background-color: #1f1f1f;
    border: none;
    padding: 7px 9px;
    border-radius: 50%;
    margin-right: 5px;
}

.full-screen {
    background-color: #121212;
    border: none;
    padding: 4px 4px;
    border-radius: 50%;

}

/* ----------------(2rd line)-------------------- */
.playlists {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a2a2a;
    color: white;
    font-weight: 600;
    font-size: 14px;
    width: 74px;
    padding: 5px 8px;
    border: none;
    border-radius: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 16px;
}

/* ----------------(3rd line)-------------------- */
.list-search {
    position: relative;
    display: flex;
    color: rgb(255, 255, 255);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.search-list {
    background-color: #121212;
    border: none;
    position: absolute;
    left: 21px;
    top: 0px;
    width: 20px;
}


.list-search-icon {
    position: absolute;
    background-color: #121212;
    vertical-align: middle;
    gap: px;
    border: none;
    right: 21px;
    top: 0px;
}

.recent {
    color: rgb(177, 177, 177);
    font-size: 15px;
}



/* ----------------------------- */

.playlists-section {
    position: relative;
    top: 30px;

}


.song-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

}

.img-list {
    border-radius: 4px;
    width: 48px;
    height: 48px;
    margin-right: 16px;
    margin-left: 16px;

}


/* ---------------------------------------(Main Content)-------------------------------------------------- */

/* ---------------------------------------(Upper Button)-------------------------------------------------- */

.top-button {
    display: flex;
    gap: 6px;
    padding-top: 16px;
    padding-left: 40px;

}

.top-selected {
    padding: 6px 16px;
    border: none;
    border-radius: 9999px;
    font-size: 13px;
    font-weight: 600;
}

.top {
    padding: 4px 12px;
    background-color: #2a2a2a;
    color: white;
    border: none;
    border-radius: 9999px;
    font-size: 13px;
    font-weight: 600;
}

/* ---------------------------------------(Album)-------------------------------------------------- */
.music-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 40px;
    gap: 8px;
}

.contain-album {
    display: flex;
    background-color: #2a2a2a;
    max-width: 310px;
    height: 48px;
    border: none;
    border-radius: 4px;
    gap: 8px;
}

.image-of-song {

    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 4px 0px 0px 4px;

}

.music-song-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}


.music-song-name .text {

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
    font-weight: 700;
    line-clamp: 2;
}


/* ---------------------------------------(vertical scrol songs bar)-------------------------------------------------- */

.group-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 28px;
    margin-left: 40px;
    margin-right: 58px;

}

.me-made-for {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.made-for {
    color: #a9a9a9;
    font-size: 11px;
    font-weight: 700;
}


.show-item {
    display: flex;
    align-self: flex-end;
    color: #a9a9a9;
    font-size: 13px;
    font-weight: 700;

}

.songs-photo img {
    width: 154px;
    height: 154px;
    border-radius: 5px;
}

.song-name {
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 2;
}

.title-of-song {
    width: 141.72px;
    height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 2;
    color: #a9a9a9;
    font-size: 14px;
    font-weight: 500;
}

.horizontal-scroll {
    margin-bottom: 45px;
}

.song-image-grid {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 21.5%;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
    gap: 24px;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}



.song-image-grid::-webkit-scrollbar {
    display: none;
}


.details {
    display: flex;
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.detail-social-media {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.text-detail {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.detail-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 9px;
}

.detail-heading {
    font-size: 17px;
    font-weight: 700;
}

.detail-lines {
    font-size: 17px;
    font-weight: 400;
    color: #a9a9a9;
}

.social-detail {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.social-media-button {
    background-color: #292929;
    border: none;
    padding: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.legal-copyright {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 100px;
}

.legal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 17px;
}

.legal-text {

    font-size: 14px;
    font-weight: 600;
    color: #a8a8a8;
}

.copyright-text {
    display: flex;
    flex-wrap: nowrap;
    width: 120px;
    font-size: 14px;
    font-weight: 600;
    color: #a8a8a8;
    margin-right: 20px;
}

.horizontal-line-flex {
    display: flex;
    align-content: center;
    justify-content: center;
}

.horizontal-line {

    border-color: #6d6c6c;
    opacity: 0.3;
    width: 95%;
    align-self: center;
}



/* ---------------------------------------(Right-side Preveiw)-------------------------------------------------- */

.preview-section1 {
    position: sticky;
    top: 4rem;
    border-radius: 10px;
    margin-bottom: 120px;
    background: #121212;
    max-height: calc(100vh - 5rem);
    overflow-y: auto;
    padding-bottom: 120px;
    scrollbar-width: none;

}

.preview-section1 ::-webkit-scrollbar {
    display: none;
}

.preview-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    border-radius: 10px;
    background: #121212;

}

.video-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 480px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 0;

}

.preview-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}

.video-gradient::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: #080808;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 51%, rgba(33, 33, 33, 1) 92%, rgba(16, 16, 16, 1) 96%, rgba(0, 0, 0, 0.84) 99%);
    mix-blend-mode: multiply;
    z-index: 2;
}


.preview-video-title {
    position: relative;
    width: 100%;
    height: 100%;

    z-index: 1;

}



.card {
    background-color: #1f1f1f;
    width: 257px;
    height: 249px;
    margin-left: 20px;
    margin-top: 40px;
    border-radius: 8px;
}

.card2 {

    background-color: #1f1f1f;
    width: 257px;
    height: 121px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 8px;

}

.artist {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.e-91000-icon {
    margin-right: 20px;
    align-self: flex-end;
    margin-bottom: 10px;

}

.name-artist {
    display: flex;
    flex-direction: column;
    margin-top: 300px;
    margin-left: 20px;

}

.credits {
    display: flex;
    align-items: center;
    align-self: center;
    vertical-align: middle;
    justify-content: space-between;
    margin: 15px 15px;
    padding-top: 20px;

}

.credits-name {
    font-size: 17px;
    font-weight: 500;
}

.artist-credit-follow {
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
    margin: 15px 15px;
}

.artist-ka {
    font-size: 17px;
    font-weight: 500;
}

.main-ka {
    color: #a9a9a9;
    font-size: 14px;
    font-weight: 600;
    margin-top: 2px;
}

.follow-button {
    padding: 6px 20px;
    border: 1px solid #a9a9a9;
    background-color: #1f1f1f;
    color: white;
    border-radius: 9999px;
}

.aside-last {
    display: flex;
    gap: 10px;
    margin-left: 16px;
}

.last-img {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 5px;
}


.title-of-song-artist {
    width: 138.72px;
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #a9a9a9;
    font-size: 14px;
    font-weight: 500;
}

.emraan {
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 700;
}

/* -------------------------------------(audio-section)--------------------------------------- */

.audio-section {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000000;
    z-index: 100;
    height: 14%;

}

.add-btn {
    background: #000000;
    border: none;
}

.left-audio-side {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
    margin-left: 20px;
}

.audio-image {
    display: flex;
    width: 56px;
    height: 56px;
    border-radius: 5px;
}

.middle-audio-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

}

.action-btn {
    background: transparent;
    border: none;
}

.play-btn {

    display: flex;
    padding: 9px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.play-btn:hover {
    transform: scale(1.1);
}

.action-button {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.right-audio-side {
    display: flex;
    align-items: center;

    gap: 15px;
    margin-top: 20px;
}

#progress {
    -webkit-appearance: none;
    width: 300%;
    height: 4px;
    background: linear-gradient(to right, white 0%, white 0%, #2a2a2a 0%, #2a2a2a 100%);
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 10px
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: white;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    box-shadow: 0 5px 5px grba(255, 26, 26, 0.22);
    cursor: pointer;
}

.time-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    gap: 12px;
    width: 175%;
}

#currentTime, #totalTime {
    color: white;
    font-size: 12px;
    width: 70px; 
    text-align: center;
    align-self: center;
    margin-bottom: 18px;
    
}